<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="zesty.squid.anxiety"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ActLaunchScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActMainMenu"
            android:label="@string/title_activity_act_main_menu" >
        </activity>
        <activity
            android:name=".ActGameScreen"
            android:label="@string/title_activity_act_game_screen" >
        </activity>
        <activity
            android:name=".GameScreenV2"
            android:label="@string/title_activity_act_game_screen" >
        </activity>
        
        <!-- AndEngine example activities -->
        <activity
            android:name=".TiledMapExample"
            android:label="TiledMapExample" >
        </activity>
        <activity
            android:name=".XMLLayoutExample"
            android:label="XMLLayoutExample" >
        </activity>
        <!-- /AndEngine example activities -->
        
    </application>

</manifest>
